/* 
3 elements sum up 90% 
to fill the other 10% with percentage margin, divide 10% in 3 elements with 2 sides left and right 
10/3/2 = 1.66%
*/
img {
	width: 30%;
	float: left;
	margin: 1.66%;
}

p {
	font-family: Raleway;
	margin-left: 1.66%;
	font-size: 23px;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 2px solid #f1f1f1;
	width: 30%;
	padding-bottom: 20px;
}